a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited{
  color: pink;
  text-decoration: none;
}
a:hover{
  color: red;
  text-decoration: underline;
}
a:active{
  color: yellow;
}
/* Это делает из ссылки кнопку 

a:link, a:visited {
  background-color: aqua;
  color: black;
  padding: 25px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover, a:active {
  background-color: blueviolet;
} 
  */

h1 {
  background: url("image/cat.png") no-repeat;
  /* background-image: url("image/cat.png");
  background-repeat: no-repeat;*/
  background-size: cover; 
  /* background-attachment: fixed; */
}
table {
  width: 100%;
}
td{
  text-align: center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  /* border-radius: 10px; */
}
th, td {
  background-color: #96D4;
  border-style: dotted;
  height: 50px;
  padding: auto;
}
tr:nth-child(even){
  background-color: aquamarine;
}
tr:hover {
  background-color: rgba(255, 30, 0, 0.267);
}
/* 
tr {
  border-bottom: 2px solid #000000;
} 
  */ 
/* 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #39055c;
} 
  */
div {
  text-align: center;
}
.mycontainer {
  display: grid;
  grid-template-columns: 20% 45% 20%;
}

.left, .right, .main {
  font-size: 25px;
}
.left, .right {
  float: left;
  width: 20%;
}
.main {
  float: left;
  width: 60%;
}
@media screen and (max-width: 1200px) {
  .left, .main, .right {
    width: 100%;
  }
}
#bottom {
  border-left: solid #802daf;
  padding: 5px;
  margin: 20px 30px;
  background-color: #7f2daf77;
  border-radius: 10px;
  outline: dotted #7f2daf49;
  outline-offset: 10px;
}
#test-text{
  width: 300px;
  border: solid;
  padding: 10px;
  text-indent: 10px;
  letter-spacing: 5px;
  text-align: justify;
  line-height: 1.5;
  word-spacing: 10px;
  text-shadow: 2px 2px 5px;
}